@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wdth,wght@75..100,100..900&display=swap'); 
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 5%;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    margin: 16px;
}
header.hero-section {
    background-color: #e3d9d9;
    padding: 1rem;
    border-radius: 8px;
    margin: 20px;
}

.header {
    background-color: #f4f4f4;
    padding: 1rem;
}
nav {
    background-color: #333;
    color: white;
    padding: 1rem;
}
nav.navbar {
    border-radius: 8px;
    margin: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a:hover {
    text-decoration: underline;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
    margin-top: 16px;
}
h1 {
    display:flex;
    justify-content:center;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header p {
    font-size: 1.2rem;
    color: #666;
}
section {
    padding: 1rem;
}
section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}
.features-section {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px;
}
.feature {
    flex: 1;
    background-color: #e2e2e2;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    background-color: #333;
    color: rgb(19, 18, 18);
    text-align: center;
    padding: 16px;
    margin: 0;
    border-radius: 8px;
    width: 100%;
    height: 1px;
    max-width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.footer p {
    margin: 48px;
    margin-bottom: 0;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}
p {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.footer-content h3 {
    margin: 0px;
    font-size: 16px;
    color: black
}
.cta-button {
    background-color: #a70d0d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 120px;
    max-width: 100%;
    text-decoration: none;
    cursor: pointer;
}
a.cta-button:hover {
    text-decoration: underline;
}